__pycache__
q2/venv
__pycache__
q2/venv
.vscode
q2/build
q2/media
# db.sqlite3
*.pyc
.DS_Store
q2/static
q2/static/img/
q2/static/js/
q2/static/css/
q2/staticfiles/img/
q2/staticfiles/js/
q2/staticfiles/css/
q2/reactify-ui/node_modules/
